<div class="modal-header">
	<h3 class="modal-title" id="modal-title">Exercise selection</h3>
</div>
<div class="modal-body" id="modal-body">
	<div class="well">
		<form>
			<div class="form-group">
				<label for="selectExercise">Exercise :</label>
				<select id="selectExercise" class="form-control" ng-model="selectedExercise" ng-options="exercise as exercise.name for exercise in exercises track by exercise.$id"></select>
			</div>
		</form>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>