<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h3>Mes Exercices</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<p>
			<button class="btn btn-success" ng-click="create()">
				<span class="glyphicon glyphicon-plus"></span>
				Create Exercise
			</button>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="exercise in exercises" ng-click="$state.go(viewExercise({exerciseId : exercise.$id}))">
				<div class="row">
					<div class="col-lg-12">
						<div>
							<strong ui-sref="viewExercise({exerciseId : exercise.$id})">{{exercise.name}}</strong>
						</div>
						<span>{{exercise.description}}</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>