<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h3>MY EXERCISES</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<p>
			<form class="form form-inline">
				<input type="text" class="form-control form-inline" placeholder="Filter by name..." ng-model="filter"/>
				<button class="btn btn-primary" ng-click="create()">
					<span class="glyphicon glyphicon-plus"></span>
					Create Exercise
				</button>
			</form>
		</p>
	</div>
</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="exercise in exercises | filter : filter">
				<div class="row">
					<div class="col-lg-12">
						<div>
							<strong ui-sref="viewExercise({exerciseId : exercise.$id})" class="clickable">{{exercise.name}}</strong>
							<span class="label label-default">{{exercise.type}}</span>
						</div>
						<span>{{exercise.description}}</span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>