<div class="row" ng-repeat="set in exercise.sets" ng-show="$index == exercise.currentSet">
	<div class="col-lg-4 col-md-4">
		<div class="well well-sm tiling">
			<legend style="text-align: center">REPS</legend>
			<div class="indicator">{{set.expectedReps}}</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4">
		<div class="well well-sm tiling">
			<legend style="text-align: center">LOAD</legend>
			<div class="indicator">{{set.load}}</div>
		</div>
	</div>
	<div class="col-lg-4 col-md-4">
		<div class="well well-sm tiling">
			<legend style="text-align: center">REST</legend>
			<progress-bar style="display: table; margin: 0 auto;" class="" timer-value="set.restAfter" active="true"></progress-bar>
		</div>
	</div>
</div>