<div class="row">
	<div class="col-lg-12 col-md-12">
		<button class="btn btn-lg btn-block" ng-click="startTraining(exercise)">START TRAINING</button>
	</div>
</div>

<div class="row" ng-repeat="set in exercise.sets" ng-show="$index == exercise.currentSet">
	<div class="col-lg-3 col-md-3">
		<div class="well well-sm tiling">
			<legend style="text-align: center">REPS</legend>
			<div class="indicator">{{set.expectedReps}}</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3">
		<div class="well well-sm tiling">
			<legend style="text-align: center">LOAD</legend>
			<div class="indicator">{{set.load}}</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
		<div class="well well-sm tiling">
			<legend style="text-align: center">DURATION</legend>
			<progress-bar id="set{{$index}}-DURATION" style="display: table; margin: 0 auto;" timer-value="set.duration" active="true"></progress-bar>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
		<div class="well well-sm tiling">
			<legend style="text-align: center">REST</legend>
			<progress-bar id="{{exercise.name}}-set{{$index}}-REST" style="display: table; margin: 0 auto;" class="orange" timer-value="set.rest" active="true"></progress-bar>
		</div>
	</div>
	<div class="col-lg-2 col-md-2">
		<div class="well well-sm tiling">
			<legend style="text-align: center">REST AFT.</legend>
			<progress-bar id="{{exercise.name}}-set{{$index}}-REST_AFT" style="display: table; margin: 0 auto;" class="green" timer-value="set.restAfter" active="true"></progress-bar>
		</div>
	</div>
</div>