<div class="col-lg-12" ng-hide="isPageLoading()">
	<div class="page-header">
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-primary {{period}}"
						 ng-repeat="exercise in event.trainingContent.exercises"
						 ng-show="$index == currentExercise">
						<div class="panel-heading">
							<h4>{{exercise.exercise.name}}</h4>
						</div>
						<div class="panel-body">

							<div ng-switch="exercise.exercise.type">
								<div ng-switch-when="reps">
									<ng-include src="'/public/src/components/scheduler/event/assistant/partials/_assistant-reps.template.html'"></ng-include>
								</div>
								<div ng-switch-when="duration">
									<ng-include src="'/public/src/components/scheduler/event/assistant/partials/_assistant-duration.template.html'"></ng-include>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12">
									<div class="well well-sm" style="text-align: center; font-weight: bolder"> {{exercise.currentSet + 1}} / {{exercise.sets.length}}</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<button class="btn btn-block" ng-click="previousExercise()" ng-disabled="currentExercise == 0">PREVIOUS</button>
						</div>
						<div class="col-lg-6 col-md-6">
							<button class="btn btn-block" ng-click="nextExercise()" ng-disabled="currentExercise == event.trainingContent.exercises.length - 1">NEXT</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="pre-training-timer"
		 style="position: fixed;
		 top: 0;
		 left: 0;
    	width: 100%;
    	text-align: center;
    	height: 100vh;
    	margin: 0;
    	line-height: 100vh;
    	z-index: 2;
    	font-size: 15em;
    	background-color: rgba(255, 0, 0, 0.74);
    	color: #009fff;"
		 ng-show="period == 'pre-training'"
	>

		{{timeRemainingBeforeTraining}}

	</div>

	<style scoped>
		.indicator {
			text-align: center;
			line-height: 120px;
			font-size: 120px;
		}

		.tiling {
			box-shadow: 3px 3px 8px black;
		}

		body {
			background-color: #223748;
		}

		.panel {
			background-color: rgba(255, 255, 255, 0.18);
		}

		.panel-primary {
			border-color: transparent;
		}

		div.active {
			border: solid 5px #00E5FF;
		}

		div.passive {
			border: solid 5px #FFE600;
		}

		div.rest {
			border: solid 5px #00FF00;
		}
	</style>
</div>
