<div class="navbar-collapse collapse navbar-inverse navbar-inverse-collapse">
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown">Menu <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a ui-sref="scheduler">Planificateur</a></li>
				<li><a ui-sref="exercises">Mes Exercices</a></li>
				<li class="divider"></li>
				<li class="dropdown-header">Hors projet</li>
				<li><a ui-sref="inspiration">Inspiration</a></li>
			</ul>
		</li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown">David <b class="caret"></b></a>
			<ul class="dropdown-menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</li>
	</ul>
</div>